<footer class="page-footer indigo darken-1">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
      <div class="col s12 m6 l6 alinharTexto">
        <h5 class="white-text">Endereço e Localização</h5>
        <p class="grey-text text-lighten-4">
          Tarumã Office - R. 7 de Setembro, 1600 15º andar - Centro, Blumenau - SC, 89010-204
        </p>
        <p>
          Nos siga nas redes sociais para novidades.
        </p>
        <p>
          <a href="https://www.instagram.com" target="_blank"><img class="imgSocial z-depth-3 circle" src="../../../assets/instagram.png"></a>
          <a href="https://www.facebook.com" target="_blank"><img class="imgSocial z-depth-3 circle" src="../../../assets/facebook.png"></a>
          <a href="https://www.twitter.com" target="_blank"><img class="imgSocial z-depth-3 circle" src="../../../assets/twitter.png"></a>
          <a href="https://www.youtube.com" target="_blank"><img class="imgSocial z-depth-3 circle" src="../../../assets/youtube.png"></a>

        </p>
      </div>
      <div class="col s12 m6 l6 alinharTexto">
        <h5 class="white-text">Mapa do Site</h5>
        <ul class="mapa">
          <li><a href="../home" class="grey-text text-lighten-3">Home</a></li>
          <li><a href="../institucional" class="grey-text text-lighten-3">Institucional</a></li>
          <li><a href="../login" class="grey-text text-lighten-3">Login</a></li>
          <li><a href="../contato" class="grey-text text-lighten-3">Contato</a></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
  <div class="row footer-copyright divFinal">
    <div>
      <div class="portugues">
        <i class="material-icons icone">public</i>
        <a class="text">
          Português (Brasil)
        </a>
      </div>
    </div>
    <div class="container2">
      Desenvolvido por Teachers Solutions LTDA - 2019 R
    </div>
  </div>
</footer>