<section class="escolherCadastro">
    <h3>Escolha como deseja se cadastrar</h3>
    <div class="row">
        <div class="row">
            <div class="col s6">
                <div class="card">
                    <div class="card-image">
                        <img src="../../../assets/escolher-cadastro/aluno.jpg" class="circle responsive-img">
                        <span class="card-title">Aluno</span>
                    </div>
                    <div class="card-content">
                        <p>Cadastre-se como aluno para ver aulas marcadas pelo professor, ver cursos disponíveis de cada
                            professor vínculada a sua conta e outros tipos de materiais e funcionalidades.</p>
                    </div>
                    <div class="card-action">
                        <a routerLink="/cadAluno">Cadastre como aluno</a>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card">
                    <div class="card-image">
                        <img src="../../../assets/escolher-cadastro/professor.jpg" class="circle responsive-img">
                        <span class="card-title">Professor</span>
                    </div>
                    <div class="card-content">
                        <p>Cadastre-se como professor para marcar aulas, cadastrar e organizar cursos, ver
                            acompanhamento de aulas de cada aluno, administrar sua planilha financeira com contas pagas
                            e não pagas pelo alunos e dentre outras funcionalidades.</p>
                    </div>
                    <div class="card-action">
                        <a routerLink="/cadProfessor">Cadastrar como professor</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>