.escolherCadastro{
    text-align: center;
    width: 75%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: rgba(243, 243, 243, 0.911);
    border-radius: 3px;
}